<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="bg-light">
    <div class="row d-inline-flex align-items-center bg-white p-3 w-100 mb-1">
        <div class="col-3 col-sm-1">
            <a><img src="~/Content/images/cartoon.png" alt="Logo" class="img-fluid" /></a>
        </div>
        <div><h1>Creative design</h1></div>
    </div>
    <div class="container-fluid">
        <div class="row m-auto d-flex justify-content-center main">
            <div class="col-sm-9 p-0 border-right">
                @RenderSection("content", false)
            </div>
            <div class="col-sm-2 p-0 h-100">
                <nav class="navbar">
                    <ul class="navbar-nav">
                        <li class="@(ViewContext.RouteData.Values["Action"].ToString() == "Index" ? "active" : " ")">
                            <a class="nav-link text-dark" href="@Url.Action("Index", "Home")">
                                <h3><small>Главная</small></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="@Url.Action("GuestRoom", "Comment")">
                                <h3><small>Гостевая</small></h3>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark active" href="@Url.Action("Questionary", "Home")">
                                <h3><small>Анкета</small></h3>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <footer class="text-muted p-2 border-top">
        <div class="container">
            <p class="float-right">
                <a href="#">Back to top</a>
            </p>
            <p>&copy;Copyright, @DateTime.Now.Year</p>
        </div>
    </footer>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
